html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
main{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 30vh repeat(3,25vh) 16vh;
  grid-template-areas:
  "header header header header"
  "bio bio bio bio"
  "member member member member"
  "pic pic pic pic"
  "contact contact contact contact";
}
#backgroundContainer{
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(/images/header_logo.png);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
header {
    grid-area: header;
    /* background-color: rgb(51, 138, 179); */
    text-align: center;
    font-size: 70px;

  }
  header h1{
      font-size: 200px;
  }
#logoPic{
float: left;
margin-top: -245px;
}
 section, #ourStory{
    grid-area: bio;
    font-size: larger;
    /* background-color: aqua; */
}
#bio{
    font-size: larger;
    width: 100vw;
    text-align: center;
}
#headline{
    text-align: center;
    font-size: 70px;
}
#teamBio{
    grid-area: bio;
    font-size: 50px;
}
#profiles{
    grid-area: member;
    /* background-color: blue; */
}
#proHeadline{
    text-align: center;
    font-size: 70px;
}
#profilePicsDiv{

    display: flex;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(4,1fr);
grid-template-areas:
"Rob" "Leon" "Kevin" "Oves"
}
#Rob{
grid-area: Rob;
width: 25vw;
text-align: center;

}
#robPic{

}
#Leon{
    grid-area: Leon;
width: 25vw;
text-align: center;

}
#leonPic{


}
#Kevin{
    grid-area: Kevin;
width: 25vw;
text-align: center;

}
#kevinPic{


}
#Oves{
    grid-area: Oves;
width: 25vw;
text-align: center;

}
#ovesPic{


}
#pics{
    display: flex;
    grid-area: pic;

}
#pic1{
    width: 25vw;
height: 660px;
}
#pic2{
    width: 25vw;
    height: 660px;

}
#pic3{
    width: 25vw;
    height: 660px;

}
#pic4{
    width: 25vw;
height: 660px;

}
#footerHeadline{
    font-size: 65px;
}
#contact{
    grid-area: contact;
    background-color: rgb(77, 159, 241);
    text-align: center;

}
#email{
font-size: 50px;
}
#contactInfo{
    font-size: 40px;
}
#Leon p{
    font-size: 30px;
}
#Rob p{
    font-size: 30px;
}
#Oves p{
    font-size: 30px;
}
#Kevin p{
    font-size: 30px;
}


/* Media queries */
@media screen and (max-width: 375px){
    body{
        background-image: url(/images/header_logo.png);
         height: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    main{

        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
        "header"
        "bio"
        "member1"
        "member2"
        "member3"
        "member4"
        "pics"
        "contact";

      }

    header {
        grid-area: header;
        font-size: 30px;

      }
      header h1{
          font-size: 70px;
      }

     section, #ourStory{
        grid-area: bio;
        font-size: 10px;
    }
    #teamBio{
        font-size: 5px;
        text-align: center;
    }
    #headline{
        text-align: center;
        font-size: 20px;
    }
    #teamBio{
        grid-area: bio;
        font-size: 20px;
    }
    #profiles{
        grid-area: member;
        background-image: url(/images/header_logo.png);
        background-repeat: no-repeat;
        background-size: cover;

    }
    #proHeadline{
        text-align: center;
        font-size: 30px;
    }
    #profilePicsDiv{
        display: list-item;

    }
    #Rob{
    grid-area: member1;
    width: 100vw;
    text-align: center;

    }

    #Leon{
        grid-area: member2;
    width: 100vw;
    text-align: center;

    }

    #Kevin{
        grid-area: member3;
        width: 100vw;
        text-align: center;

    }

    #Oves{
        grid-area: member4;
        width: 100vw;
        text-align: center;

    }

    #pics{
        margin-top: 3605px;
        grid-area: pics;
        display: list-item;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas:
        "pic1"
        "pic2"
        "pic3"
        "pic4"

    }
    #pic1{
        grid-area: pic1;
        width: 100vw;
        height: 300px;
    }
    #pic2{
        grid-area: pic2;
        width: 100vw;
        height: 300px;

    }
    #pic3{
        grid-area: pic3;
        width: 100vw;
        height: 300px;

    }
    #pic4{
        grid-area: pic4;
        width: 100vw;
        height: 300px;

    }
    #footerHeadline{
        grid-area: contact;
        width: 100vw;
        font-size: 30px;
    }
    #contact{
        grid-area: contact;
        background-color: rgb(77, 159, 241);
        text-align: center;
        width: 100vw;

    }
    #email{
    font-size: 20px;
    }
    #contactInfo{
        font-size: 20px;
    }
    #phone{
        font-size: 20px;
    }
    #Leon p{
        font-size: 20px;
    }
    #Rob p{
        font-size: 20px;
    }
    #Oves p{
        font-size: 20px;
    }
    #Kevin p{
        font-size: 20px;
    }






}
