#title{
  grid-area: header;
  text-align: center;

}

div#number{
  display: grid;
  grid-template-columns:  2fr 1fr;
  font-size: 25px;
}

div#bio{
  display: grid;
  grid-template-columns:  2fr 1fr;
  font-size: 25px;
}

div#profilePic{
padding-bottom: 6vh;
padding-top:1vh;
font-size: 25px;

}

div#address{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  font-size: 25px;
}


div#city1{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  font-size: 25px;
}

div#postalCode{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  font-size: 25px;
}

#cityOuter{
  padding-bottom: 1vh;
}

#postalCodeOuter{
  padding-bottom: 1vh;
}


#addressOuter{
  padding-bottom: 1vh;
}

#numberOuter{
  padding-top: 1vh;
  padding-bottom: 1vh;
}


div#confirm{
  /* margin: 0;
  position: absolute;
  left: 48%;
  -ms-transform: translateX(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-bottom: 3.5vh; */
  color:white;
  background-color: black;
}


html, body {
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100%;
  font-family: "Open Sans", sans-serif;
}




#form {
  overflow-x: hidden;
  padding: .5em;
  font-size: 20pt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


input {
  border-radius: 8px;
  /* border: 2px groove lightblue; */
  padding: 2px;
}



#photo {

  margin-bottom: 5vmax;
  border-radius: 8px;
}

input[type=submit] {
  background-color: rgb(122, 144, 218);
  color: white;
  font-size: 3.5vmax;
  width: 100%;
  margin-top: 2vmax;
}

.help-tip{
  text-align: center;
  background-color: #BCDBEA;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color:#fff;
}

.help-tip:hover p{
  display:block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
  transform: translateX(-60%)
}

.help-tip p{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 300px;
  position:absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
  
}



.help-tip p:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
  
}


/* CSS animation */

@-webkit-keyframes fadeIn {
  0% { 
      opacity:0; 
      transform: scale(0.6);
  }

  100% {
      opacity:100%;
      transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}