#map {
  height: 50vh;
  width: 100%;
}

body {
  margin: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  background-color: #f7fbfe;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
