html, body{
    height:100%;
}

body{
    margin:0;
    padding:0;
}

/* .container{
    height: 100%;
} */

.outer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height:100%;
}

#helper-block{
    background-color: cadetblue;
    height: 100%;
    /* margin-top: 10%; */

}

#helperImage{

}

#helpeeImage{

}

#helpee-block{
    background-color: chartreuse;
    /* margin-top: 10%; */
    height: 100%;
}

#helper-block:hover{
    cursor: pointer;
    border: solid yellow;
}

#helpee-block:hover{
    cursor: pointer;
    border: solid red;
}

.centered-top{
    position: relative;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered-bottom{
    position: relative;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
