<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lend-A-Hand: Confirm Profile Details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/createProfile.css" />
  
</head>

<body>
  <div id='header'>
    <h1>Confirm Profile Details</h1>
  </div>

  <div id='form'>
    
    <form>
      <div id="fname">
        <label for='name'>Full Name:</label>
        <input id='name' type="text" placeholder="Enter Full Name" required="required" /></div>


        <div id="emailAddress">
          <label for='email'>Email:</label>
          <input id='email' type="text" placeholder="Enter an email" required="required" /></div>

      <div id="addressOuter">
        <div id="address"><label for='addressInput'>Address:</label>
          <div class="help-tip">
            <p>Your address will only be displayed to providers that you accept requests from.</p>
          </div>
        </div>

        <input id='addressInput' type="text" placeholder="Enter Address" required="required" />

      </div>

      <div id=numberOuter>
        <div id="number">
          <label for='phone'>Phone Number:</label>
          <div class="help-tip">
            <p>Your number will only be shared with providers that you accept requests from.</p>
          </div>
        </div>

        <input id='phone' type="text" placeholder="Enter Phone Number" required="required" />
      </div>



      <div>
        <div id="image"> <label for='photo'>Photo (Optional):</label>
          <div class="help-tip">
            <p>A profile picture helps the providers know who they are helping.</p>
          </div>
        </div>

        <button id='photo' type="button">Choose from Device</button>
      </div>


      <div id="photoBtn">

        <input id ="clicked" type="button" value="Confirm Details">
      </div>

    </form>
  </div>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-firestore.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <script src = "../scripts/firebase.js"></script>
  <script src = "../scripts/createHelper.js"></script>
</body>

</html>
