<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lend-A-Hand: Confirm Profile Details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/createProfile.css" />
  
</head>

<body>

  <div id='header'>
    <h1>Create A Profile</h1>
  </div>

  <div id='form'>
    
    <form>
       <!-- <div id="fname">
        <label for='name'>Confirm Full Name:</label>
        <input id='name' type="text" placeholder="Enter Full Name" required="required" /></div>


        <div id="emailAddress">
          <label for='email'>Confirm Email:</label>
          <input id='email' type="text" placeholder="Enter an email" required="required" /></div> -->

          <div id="addressOuter">
            <div id="address"><label for='addressInput'>Address:</label>
              <div class="help-tip">
                <p>Your address will only be displayed to providers that you accept requests from.</p>
              </div>
            </div>
    
            <input id='addressInput' type="text" placeholder="Enter Address" required="required" />
    
          </div>
    
    
          <div id="cityOuter">
            <div id="city1"><label for='city' required="required">City:</label>
              <div class="help-tip">
                <p>Your address will only be displayed to providers that you accept requests from.</p>
              </div>
            </div>
    
            <input id='city' type="text" placeholder="Enter Address" required="required" />
    
          </div>
    
    
          <div id="postalCodeOuter">
            <div id="postalCode"><label for='postCode'>Postal-Code:</label>
              <div class="help-tip">
                <p>Your address will only be displayed to providers that you accept requests from.</p>
              </div>
            </div>
    
            <input id='postCode' type="text" placeholder="Enter Address" required="required" />
    
          </div>
    
    
    
          <div id=numberOuter>
            <div id="number">
              <label for='phone'>Phone Number:</label>
              <div class="help-tip">
                <p>Your number will only be shared with providers that you accept requests from.</p>
              </div>
            </div>
    
            <input id='phone' type="text" placeholder="Enter Phone Number" required="required" />
          </div>

          
      <div id=bioOuter>
        <div id="bio">
          <label for='userBio'>Description:</label>
          <div class="help-tip">
            <p>Describe yourself in a few words.</p>
          </div>
        </div>

        <input id='userBio' type="text" placeholder="Describe yourself" required="required" />
      </div>
    
          <div id="profilePic">
            <form>
              <div class="form-group">
                <label id="image" for="exampleFormControlFile1">Photo (Optional)</label>
    
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            </form>
          </div>
    
          <div id ="confirm">
            <input id="clicked" type="button" value="Confirm Details"></div>
      </div>

    </form>
  </div>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-firestore.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <script src = "../scripts/firebase.js"></script>
  <script src = "../scripts/createHelper.js"></script>
</body>

</html>