<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <p id="name">Name</p>
  <p id="email">Email</p>
  <p id="address">Address</p>
  <p id="city">City</p>
  <p id="postCode">Postal Code</p>
  <p id="phone">Phone Number</p>
  <h3>Items</h3>
  <p id="list"></p>
  <button id="clicked1">Update Item List</button>
  <button id="clicked2">Requests</button>

  <!-- Merge page with viewHelpees.html -->
</body>

<script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-firestore.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../scripts/firebase.js"></script>
<script src="../scripts/helpeeProfile.js"></script>
<script src="../scripts/requests.js"></script>
<script>request();</script>

</html>