<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-firestore.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>

  <!--------------------------------------------------------------------->
  <!-- JS files: Your own JavaScript functions included here    -->
  <!--------------------------------------------------------------------->
  <script src="../scripts/firebase.js"></script>

  <link rel="stylesheet" href="../css/FBLogin.css">

</head>

<body>

  <!-- // java sdk for FB button -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=1073205286398589&autoLogAppEvents=1">
    </script>

  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '{1073205286398589}',
        cookie: true,
        xfbml: true,
        version: '{v6.0}'
      });

      FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  </script>


  <script>
    var provider = new firebase.auth.FacebookAuthProvider();

    //bugs suck
    function facebookSignin() {

      firebase.auth().signInWithPopup(provider)

        .then(function (result) {
          var token = result.credential.accessToken;
          var user = result.user;

          console.log(token)
          console.log(user)

        }).catch(function (error) {
          console.log(error.code);
          console.log(error.message);
        });

      setTimeout(function () { redirect(); }, 1000);
    }

    function facebookSignout() {
      firebase.auth().signOut()

        .then(function () {
          console.log('Signout successful!')
        }, function (error) {
          console.log('Signout failed')
        });
    }


    function redirect() {
      window.location.href = "helperMain.html"
    }
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="rounded"
    data-auto-logout-link="true" data-use-continue-as="true" data-width=""></div>

</body>

</html>