<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/role-select.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/images/goodFavicon.ico" type="image/x-icon">

    </head>
    <body>
        <div class="outer">
            <div id="helper-block">
                <div class="centered-top">
                    <img src= "https://2.bp.blogspot.com/-ifQvU3-wNlY/W7DwbWMnQeI/AAAAAAAAAZ8/NbsBz48GvWU5hVqAXqm1dV5rHBKylmT8wCLcBGAs/s320/ffffe.png">
                    <h1>Helper</h1>
                </div>
            </div>

            <div id="helpee-block">
                <div class="centered-bottom">
                    <img src= "https://2.bp.blogspot.com/-ifQvU3-wNlY/W7DwbWMnQeI/AAAAAAAAAZ8/NbsBz48GvWU5hVqAXqm1dV5rHBKylmT8wCLcBGAs/s320/ffffe.png">
                    <h1>Helpee</h1>
                </div>
            </div>
        </div>
        <script src="../scripts/role-select.js"></script>
    </body>
</html>
