<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<img id = "img">



    <script>
// Create a reference to the file we want to download

var storageRef = storage.ref();
var starsRef = storageRef.child('profile_pics/"orange.jpg');

// Get the download URL
starsRef.getDownloadURL().then(function(url) {
  // Insert url into an <img> tag to "download"
document.getElementById("img").src = url;

}).catch(function(error) {

  // A full list of error codes is available at
  // https://firebase.google.com/docs/storage/web/handle-errors
  switch (error.code) {
    case 'storage/object-not-found':
      // File doesn't exist
      break;

    case 'storage/unauthorized':
      // User doesn't have permission to access the object
      break;

    case 'storage/canceled':
      // User canceled the upload
      break;

  

    case 'storage/unknown':
      // Unknown error occurred, inspect the server response
      break;
  }
});
    </script>
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-storage.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <script src = "../scripts/firebase.js"></script>
</body>


</html>