<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <progress value="0" max="100" id="uploader">0%</progress>
    <input type="file" value="upload" id="fileButton" />


    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <script>
        /**var firebaseConfig = {
            apiKey: "AIzaSyAdQNsdN8jh2Tv1Ot0ADsbRqbzlUMYQXEU",
            authDomain: "lend-a-hand-9861e.firebaseapp.com",
            databaseURL: "https://lend-a-hand-9861e.firebaseio.com/",
            projectId: "lend-a-hand-9861e",
            storageBucket: "lend-a-hand-9861e.appspot.com",
            messagingSenderId: "230477140946",
            appId: "1:230477140946:web:f1c6cb4bb6ea0533416e0b"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);*/

        var uploader = document.getElementById("uploader");
        var fileButton = document.getElementById("fileButton");

        fileButton.addEventListener('change', function (e) {
            //get File
            var file = e.target.files[0];

            // Create a storage ref
            var storageRef = firebase.storage().ref('profile_pics/' + file.name);

            //Upload File
            var task = storageRef.put(file);


            // Update Bar
            task.on('state_changed',
                function progress(snapshot) {
                    var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                    uploader.value = percentage;
                }, 
                
                function error(err) {

                },
               
                function complete() {

                }

            );

        });
    </script>
    <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-storage.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <script src="../scripts/firebase.js"></script>
</body>


</html>