<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<img id = "img">



  <script>
storageRef.child('profile_pics/oranges.png').getDownloadURL().then(function(url) {
  var img = document.getElementById('img');
  img.src = url;
}).catch(function(error) {
  // Handle any errors
});
    </script>
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-storage.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <script src = "../scripts/firebase.js"></script>
  
</body>


</html>